<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta TH:HTTP-EQUIV="refresh" content="10"/>
  <meta charset="UTF-8" > </meta>
  <title>Chat Program</title>
  <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <div class="navbar-text">P2P CAHT</div>
    <form class="navbar-form navbar-left" action="/adduser">
      <input type="text"  name="addUserName" th:placeholder="${appUser.getUsername()}" id="inlineFormInput" />
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class ="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <h1>Peer to Peer Chat Program</h1>
        <form action="/sendmessage">
          <div class="form-group">
            <div class="col-lg-10">
              <textarea class="form-control" name="messa" rows="3" id="textArea" placeholder="Write message to send!"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      <br/>
      <div>
      <table class="table table-striped table-hover" id="dev-table">
        <thead>
        <tr>
          <th>USER</th>
          <th>MESSAGE</th>
        </tr>
        </thead>
        <tr class="info" th:each="m : ${messageList}">
          <td th:text="${m.getUsername()}"/>
          <td th:text="${m.getText()}"/>
        </tr>
      </table>
      </div>
        <a th:href="@{/}"><button type="submit" class="btn btn-primary">Refresh</button></a>
    </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>