<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Chat Program</title>
</head>
<body>
  <h1>Peer to Peer Chat Program</h1>
    <form action="/adduser" th:object="${appUser}">
      Username:
      <input type="text" name="addUserName" th:value="${appUser.getUsername()}"/>
      <input type="submit" value="Update"/>
    </form>
    <br/>
    <ul th:each="m : ${messageList}">
      <li>
        <div th:text="${m.getUsername()}"/>
        <div th:text="${m.getText()}"/>
      </li>
    </ul>
    <form action="/sendmessage">
      Message to send:
      <br/>
      <textarea type="text" name="message" rows="2" cols="40">
        Enter your message
      </textarea>
      <input type="submit" value="Send"/>
    </form>
</body>
</html>